#header{
    border-bottom: 2px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
}
#body{
    padding-bottom: 10px;
}
#footer{
    border-top: 1px solid red;
}
#login{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    padding-top: 10px;
}
body{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}
p{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 1.0em;
}
img {
    max-width: 100%;
    height: auto;
}
label{
    display: inline-block;
    /*
    http://stackoverflow.com/questions/2820586/how-can-i-control-the-width-of-a-label-tag
    http://stackoverflow.com/questions/18297783/why-width-css-attribute-of-label-doesnt-work-without-float
    */
    /*width: 100px;*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}